<div class="container py-4">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center justify-content-between">
        <span>Orders List</span>
        <div>
          <button type="button" mat-button mat-raised-button color="primary" (click)="add()">
            Add Order
          </button>
          <button type="button" mat-button mat-raised-button class="ms-2" routerLink="/cancelled-orders">
            Cancelled Orders
          </button>
          <button type="button" mat-button mat-raised-button class="ms-2" (click)="getOrdersReport()">
            Download Orders Report
          </button>
          <button type="button" mat-button mat-raised-button class="ms-2" (click)="getOrdersCancelledReport()">
            Download Cancelled Orders Report
          </button>
        </div>
      </div>
    </mat-card-title>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.orderId }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.customerName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.amount | currency }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="itemCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Item Count</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.itemCount }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.orderDate | date }}</mat-cell>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>

        <mat-cell *matCellDef="let row; let i = index">
          <button   (click)="cancelOrder(row.orderId)" class="btn btn-warning btn-sm me-2">
            Cancel Order
          </button>
          <button mat-icon-button color="accent" (click)="edit(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

          <button mat-icon-button color="accent" (click)="delete(row.orderId)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div class="no-results" [style.display]="dataSource?.length == 0 ? '' : 'none'">
      No results
    </div>

    <mat-paginator #paginator [length]="dataSource?.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card>
</div>
